src/main/app/editransformation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="editransformationFlow1" doc:name="editransformationFlow1">
        <file:inbound-endpoint path="C:\ediinput" responseTimeout="10000" doc:name="File"/>
        <component class="com.mymule.edi.transformers.EdifactTransformer" doc:name="Java"/>
        <logger message="EDI CONVERTED OUTPUT: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
